.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 20px;
  z-index: 999;
}

.div1 {
  grid-area: 1 / 1 / 4 / 4;
  height: 545px;
  z-index: 999;
}
.div2 {
  grid-area: 1 / 4 / 6 / 6;
  z-index: 500;
}
.div3 {
  grid-area: 4 / 1 / 6 / 4;
  height: 300px;
  z-index: 999;
}

.rotate {
  animation: rotation 2s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

.rotateImage {
  animation: rotation 2.5s linear infinite;
}

@media only screen and (max-width: 720px) {
    .parent {
        display: flex;
        flex-direction: column;
    }
    .div1, .div2, .div3 {
        z-index: 500;
        margin-bottom: 20px;
    }
  }
